* {
  box-sizing: border-box;
}

/* * {
  outline: 1px solid gray;
} */

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
/* ------- HEADER AND NAVIGATION  -------------- */

header {
  background-color: #202020;
  /* width: 100vw; */
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-bottom: 0px;
  height: 60px;
}

.header-logo {
  width: 150px;
  aspect-ratio: 2.5/1;
  object-fit: cover;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

header input {
  max-width: 500px;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  padding: 20px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 1rem;
  color: white;
}

header input::placeholder {
  color: white;
}

.header-button {
  border-left: 1px solid gray;
  height: 100%;
  display: flex;
  aspect-ratio: 4/1;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.header-button button {
  height: 80%;
  background-color: red;
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

.menu {
  display: flex;
  justify-content: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.menu div {
  padding: 15px;
}

.menu div:hover {
  cursor: pointer;
}

/* -------- WELCOME --------------------- */

.welcome {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome p {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

/* -------- CHARACTER/COMICS ----------- */
.characters,
.comics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px auto;
  /* border: 1px solid green; */
}

.character-card,
.comic-card {
  /* border: 2px solid rgb(0, 255, 42); */
  width: calc((100% - 100px) / 6);
  aspect-ratio: 2/2.5;
  height: 400px;
  background-color: #2d2d2d;
  color: white;
  position: relative;
  overflow: hidden;
}

.character-card:hover,
.comic-card:hover {
  cursor: pointer;
}

.character-card img,
.comic-card img {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  height: 6px;
  background-color: red;
}

.content {
  padding: 10px;
}

/* ------------  CHARACTERCOMICS ------------- */

.banner {
  border: 1px solid red;
  width: 280px;
  aspect-ratio: 1/1;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.chara-infos {
  display: flex;
  border: 1px solid gray;
  gap: 30px;
}

.chara-content {
  padding: 30px 0px;
}
