* {
  box-sizing: border-box;
}

/* * {
  outline: 1px solid gray;
} */

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
  font-family: "roboto", sans-serif;
}

button:hover {
  cursor: pointer;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}

.roboto-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
  color: white;
}
/* ------- HEADER AND NAVIGATION  -------------- */

header {
  background-color: #202020;
  /* width: 100vw; */
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid gray; */
  border-bottom: 0px;
  height: 60px;
}

.header-logo {
  width: 150px;
  aspect-ratio: 2.5/1;
  object-fit: cover;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

header input {
  max-width: 300px;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid white;
  background-color: rgb(54, 46, 46);
  font-size: 1rem;
  color: white;
}

header input::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}

.header-button {
  height: 100%;
  display: flex;
  aspect-ratio: 4/1;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.header-button button {
  height: 80%;
  background-color: red;
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

.menu {
  display: flex;
  justify-content: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: white;
  font-size: 1rem;
}

.menu div {
  padding: 15px;
}

.menu div:hover {
  cursor: pointer;
}

/* -------- WELCOME --------------------- */

.welcome {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 200px;
  border: 1px solid red;
  background-color: red;
  color: white;
}

.welcome p {
  font-size: 3rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  text-align: center;
}

/* -------- CHARACTER/COMICS ----------- */
.characters,
.comics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px auto;
  /* border: 1px solid green; */
}

.character-card,
.comic-card {
  /* border: 2px solid rgb(0, 255, 42); */
  width: calc((100% - 100px) / 6);
  min-height: 380px;
  height: 100%;
  background-color: #2d2d2d;
  color: white;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.orbitron-title {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}
.character-card:hover,
.comic-card:hover {
  cursor: pointer;
}

.character-card img,
.comic-card img {
  width: 100%;
  height: 100%;
  display: block;
}

.card-image {
  height: 270px;
}
.overlay {
  height: 2px;
  background-color: red;
  flex-shrink: 0;
}

.content {
  padding: 15px 5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  /* line-height: normal; */
  justify-content: space-between;
  /* border: 1px solid yellow; */
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Nombre de lignes visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* flex: 1; */
  min-height: 0;
}

.icone-card {
  border: 1px solid transparent;
  background-color: #9a9a9a;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}

.heart-icon {
  font-size: 1.2rem;
  /* color: red; */
}
/* ------------  CHARACTERCOMICS ------------- */

.banner {
  border-right: 4px solid red;
  width: 280px;
  aspect-ratio: 1/1;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.chara-infos {
  display: flex;
  /* border: 1px solid gray; */
  background-color: #202020;
  gap: 30px;
}

.chara-infos .content {
  font-size: 1rem;
  color: white;
  height: auto;
  justify-content: flex-start;
  line-height: normal;
}

/* ---------- Pagination  ------------------ */
.page {
  color: black;
}
.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pagination button {
  border: 1px solid transparent;
  background-color: red;
  color: white;
  padding: 10px;
}

.pagination button:hover {
  opacity: 80%;
}

.pagination button:disabled {
  background-color: #474747;
  color: #9a9a9a;
  border-color: #3e3d3d;
  box-shadow: none;
  cursor: not-allowed;
}

/* ----------   FOOTER  --------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #202020;
  margin-top: 40px;
}
